@page "/skill"
@page "/skill/index"

@using Team12.Data
@inject ISkillService _skillService
@inject DatabaseUtils _database

@{ _database.CreateTable();}

<h4>Eine Übersicht über alle Skills</h4>

<table class ="table table-striped">
    <thead class="thead-light">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Skillname</th>
        <th scope="col">Skilltyp</th>
        <th scope="col">Bearbeiten</th>
        <th scope="col">Löschen</th>
        <th scope="col">Hinzufügen</th>
    </tr>
    </thead>
    <tbody>
    @if (_skillService.GetAllSkills().Any())
    {
        @foreach (var skill in _skillService.GetAllSkills())
        {
            <tr>
                <td>@skill.Id</td>
                <td>@skill.Name</td>
                <td>@skill.SkillType</td>
                <td><a class="btn btn-secondary" href="/skill/edit/@skill.Id" role="button">Bearbeiten</a></td>
                <td><a class="btn btn-danger" @onclick="@(() => _skillService.DeleteSkill(skill.Id))" role="button">Löschen</a></td>
                <td><a class="btn btn-success" href="/skill/edit" role="button">Hinzufügen</a></td>
            </tr>
        }   
    }
    else
    {
        <tr>
            <td>0</td>
            <td>Hier steht der Name des Skills</td>
            <td>Hier steht die Art des Skills</td>
            <td><a class="btn btn-secondary" href="/skill/edit/" role="button">Bearbeiten</a></td>
            <td><a class="btn btn-danger" role="button">Löschen</a></td>
            <td><a class="btn btn-success" href="/skill/edit" role="button">Hinzufügen</a></td>
        </tr>
    }
    </tbody>
    
</table>



@code {
    
    
    
}

