@page "/skill"
@page "/skill/index"
@using Team12.Data

@inject ISkillService _skillServiceSimple
@inject DatabaseUtils _databaseUtils

<h3>Skills und deren Typen</h3>

@{
    _databaseUtils.CreatingEmptyTable();
}

<table class="table align-middle">
    <thead>
    <tr>
        <th scope="col">Skillname</th>
        <th scope="col">Skilltyp</th>
        <th scope="col">
            <a href="/skill/edit">
                <button type="button" id="ADDIERE" class="btn btn-primary">Add</button>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    @if (_skillServiceSimple.GetAllSkills().Any())
    {
        foreach (var skill in _skillServiceSimple.GetAllSkills())
        {
            <tr>
                <td>@skill.Name</td>
                <td>@skill.type</td>
                <td>
                    <a href="/skill/edit/@skill.ID">
                        <button type="button" class="btn btn-secondary">Edit/Update</button>
                    </a>
                </td>
                <td>
                    <button @onclick="() => DeleteSkill(skill.ID)" type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        }
    }
    else
    {
        LoadJson();
    }
    </tbody>
</table>

@code{

    public int ID { get; set; }

    public string name { get; set; }
    public Skilltype type { get; set; }

    public DatabaseJson _dbJ { get; set; } = new();


    public void LoadJson()
    {
        var list = _dbJ.LoadJsonSkills();

        foreach (var element in list)
        {
            _skillServiceSimple.UpdateSkill(new Skill {ID = ID, Name = element, type = Skilltype.Hardskill});
        }
    }

    private void DeleteSkill(int id)
    {
        _skillServiceSimple.DeleteSkill(id);
    }


}