@page "/skill"
@page "/skill/index"
@using Team12.Data
@using System.Linq
@inject ISkillService _skillService 

<h3>Skills</h3>

<table class="table">
    <thead>
        <tr>
            <td>Skillname</td>
            <td>Skilltyp</td>
            <td><a role="button" href="" class="btn btn-warning">Bearbeiten</a></td>
            <td><a role="button" href="" class="btn btn-warning">Loeschen</a></td>
            <td><a role="button" href="" class="btn btn-warning">Erzeugen</a></td>
        </tr>
    </thead>
    <tbody>
        @if (_skillService.GetAllSkills().Any()) 
        {   @foreach(var skill in _skillService.GetAllSkills())
            {   <tr>
                    <td>@skill.Name</td>
                    <td>@skill.SkillType</td>
                    <td><a role="button" href="skill/edit/{skill.Id}" class="btn btn-warning">Bearbeiten</a></td>
                    <td><a role="button" href="" class="btn btn-warning">Loeschen</a></td>
                    <td><a role="button" href="skill/edit" class="btn btn-warning">Erzeugen</a></td>
                </tr>
            }
        }
    </tbody>
</table>
@code {

}
