@page "/skill/edit"
@page "/skill/edit/{ID:int}"

@using Team12.Data
@inject SkillService _skillServiceSimple

@if (ID == null)
{
    <label for="InputSkillname">Skillname</label>
    <input type="text" class="form-control" id="InputSkillname" aria-describedby="Inputskillname" placeholder="Skillname" @bind-value="Name"/>
}
else
{
    <label for="InputSkillname">Skillname</label>
    <input type="text" class="form-control" id="InputSkillname" aria-describedby="Inputskillname" placeholder="@_skillServiceSimple.GetSkill((int) ID).Name"@bind-value="Name"/>
}

<form>
    <div class="form-group">
        <label for="">Skilltyp</label>
        <select class="form-control" @bind="_skilltype">
            @foreach (var type in Enum.GetValues(typeof(Skilltype)))
            {
                <option value="@type">
                    @type
                </option>
            }
        </select>

    </div>
</form>
<a href="/skill/index">
    <button @onclick="() => Submit()">Submit</button>
</a>


@code{

    [Parameter]
    public int? ID { get; set; }

    string Name { get; set; }
    Skilltype _skilltype { get; set; }


    private void Submit()
    {
        if (ID == null)
        {
            _skillServiceSimple.GetAllSkills().Add(new Skill(Name, _skilltype));
        }
        else
        {
            _skillServiceSimple.UpdateSkill(new Skill((int) ID, Name, _skilltype));
        }
    }

}