@page "/skill/edit"
@page "/skill/edit/{ID:int}"

@using Team12.Data
@inject ISkillService _skillService
@inject NavigationManager _navigationManager                

<EditForm Model="@skill" OnValidSubmit="@SaveBratan">       
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    <div class="form-group mb-1">
        <label class="form-label">Skillname.: </label>
        <InputText id="name" @bind-Value="skill.Name"/>
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Skilltype.: </label>
        <InputSelect @bind-Value="skill.type">
            <option value="Hardskill">Hardskill</option>
            <option value="Softskill">Softskill</option>
        </InputSelect>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </div>
</EditForm>


@code{

    private Skill skill { get; set; } = new Skill();                    //microsoft.docs for the editform and nav manager
    [Parameter]                                                         //the nav manager makes the whole thing easier to navigate duh^^
    public int ID { get; set; }                                         //Editform auf Empfehlung von Anton von microsoft umgeschrieben um Einfachheitheit zu erhöhen
    bool _ShowError = false;

    private void SaveBratan()
    {
        _skillService.UpdateSkill(skill);
        _navigationManager.NavigateTo(("/skill/index"));
    }

}