@inject DatabaseUtils _database
@page "/"
@using AVATI.Data.DatabaseConnection
@inject AuthenticationStateProvider _authenticationStateProvider

        <div class="row justify-content-center mb-2">
            <h1>Hello, world!</h1>
        </div>


        <div class="row justify-content-center mb-2">

            <a href="/Login">
                <button type="button" class="btn btn-secondary">Login</button>
            </a>
        </div>

        <div class="row justify-content-center">
            <a href="/Projektübersicht">
                <button type="button" class="btn btn-secondary">Projectübersicht</button>
            </a>

            <a href="/profile/16">
                <button type="button" class="btn btn-secondary">Profil</button>
            </a>
        </div>

@code
{
    protected override void OnInitialized()
    {
        _database.CreateTables();
        _authenticationStateProvider.GetAuthenticationStateAsync();

    }
}
