@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.


<a href="/Projektübersicht"><button type="button" class="btn btn-secondary">Projectübersicht</button> </a>
<a href="/Login"><button type="button" class="btn btn-secondary">Login</button> </a>
<a href="/profile"><button type="button" class="btn btn-secondary">Profil</button> </a>