@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some text some text some text some text..</p>
    <p>Some more text more some more text some more text some more text..</p>
    <p>Some more text more some more text some more text some more text..</p>
    <p>Some more text more some more text some more text some more text..</p>
    <p>Some more text more some more text some more text some more text..</p>
    <p>Some more text more some more text some more text some more text..</p>
    <p>Some more text more some more text some more text some more text..</p>
    <p>Some more text more some more text some more text some more text..</p>
    <p>Some more text more some more text some more text some more text..</p>
    <p>Some more text more some more text some more text some more text..</p>
    <p>Some more text more some more text some more text some more text..</p>
</div>
