@page "/"

<div class="row justify-content-center mb-2">
    <h1>Hello, world!</h1>
</div>


<div class="row justify-content-center mb-2">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RzD8bRGSTRk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="row justify-content-center">
    <a href="/Projektübersicht">
        <button type="button" class="btn btn-secondary">Projectübersicht</button>
    </a>
    <a href="/Login">
        <button type="button" class="btn btn-secondary">Login</button>
    </a>
    <a href="/profile/1">
        <button type="button" class="btn btn-secondary">Profil</button>
    </a>
</div>