@page "/Projektübersicht"

@using AVATI.Data
@inject IProjektService _projektService
@inject JsonImport _jsonImport
@inject ProjectServiceSimple _projectServiceSimple



<h3>Projektübersicht</h3>

<input type="search" class="col-form-label mb-3" id="search"  placeholder="Suche..."/>

<table class="table align-middle mb-3">
    <thead>
    <tr>
        <th scope="col">Projekttitel</th>
        <th scope="col">Projektbeschreibung</th>
        <th scope="col">Branchen</th>
    </tr>
    </thead>
    <tbody>
    @if (_projectServiceSimple._projects.Any())
    {
        foreach (var project in _projectServiceSimple._projects)
        {
            <tr>
                <td>@project.ProjectID</td>
                <td>@project.Projecttitel</td>
                <td>@project.Projectdescription</td>
                <td>@String.Join(" | ", project.fields)</td>
                <td>
                    <a href="/Projektübersicht/Projektedit/@project.ProjectID">
                        <button type="button" class="btn btn-secondary">Edit/Update</button>
                    </a>
                </td>
            </tr>
        }
    }
    
    </tbody>
</table>


@code{
    
    
}