@page "/Projektübersicht/Projektedit"
@page "/Projektübersicht/Projektedit/{ID:int}"

@using AVATI.Data
@inject IProjektService _projektService
@inject NavigationManager _navigationManager
@inject AddFieldsToProjectUpdate _addFieldsToProject

<h3>Edit Projekt</h3>

<EditForm Model="@_project" OnInvalidSubmit="@Save">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group mb-1">
        <label class="form-check-label">Projekttitel.:</label>
        <InputText id="projekttitel" @bind-Value="_project.Projecttitel"></InputText>
    </div>
    <div class="form-group mb-1">
        <label class="form-check-label">Projektbeschreibung.:</label>
        <InputText id="projektbeschreibung" @bind-Value="_project.Projectdescription"></InputText>
    </div>
    <div class="form-group mb-1">
        <AddFieldsToProjectUpdate @ref="_addFieldsToProject"></AddFieldsToProjectUpdate>
        
    </div>
    <div class="form-group">
        <a href="Projektübersicht">
            <button type="submit" id="submit" class="btn btn-secondary">Submit</button>
        </a>
    </div>
</EditForm>


@code {
    private Project _project { get; set; } = new Project();

    [Parameter]
    public int ID { get; set; }

    bool _ShowError = false;
    
    private void Save()
    {
        if (_ShowError)
        {
            //Do absolutely nothing
        }
        _projektService.UpdateProject(_project);
        _navigationManager.NavigateTo("/Projektübersicht");
    }

    void PopAddField()
    {
        _addFieldsToProject.Showing();
    }

    
}