@using AVATI.Data

@if (Hardskill.Uppercat != null)
{
    <ShowUpperCat Hardskill="@Hardskill.Uppercat"/><a>@Hardskill.Uppercat.Description &rarr; </a>
}

@code {
    [Parameter]
    public Hardskill Hardskill { get; set; }

}