@page "/shortcard"
@using PersonalBlazor.Data
@using DocumentFormat.OpenXml;
@using DocumentFormat.OpenXml.Packaging;
@using DocumentFormat.OpenXml.Wordprocessing;
@using System.IO
@using BlazorDownloadFile
@inject IBlazorDownloadFileService _blazor




<div class="card-subtitle mb-2 text-muted" style="border-block-color:black">
    <ul>
        <li>Vorname:@employee.Vorname</li>
        <li>Nachname:@employee.Nachname</li>
        <li>
            Projekte:
            @foreach (var project in employee.Projekte)
            {
                <ul>
                    @project
                </ul>
            }
        </li>
        <li>Datum: @employee.dateTime</li>
        <li><button @onclick="() => CreateDoc(employee)">Test</button></li>
    </ul>

</div>






@code {
    [Parameter]
    public Employee employee { get; set; }

    public async Task CreateDoc(Employee emp)
    {
        using (MemoryStream memo = new MemoryStream())
        {
            using (WordprocessingDocument wordDocument = WordprocessingDocument.Create(memo, WordprocessingDocumentType.Document))
            {
                MainDocumentPart mainPart = wordDocument.AddMainDocumentPart();
                Document doc = new Document();
                Body body = new Body();
                Paragraph p1 = new Paragraph();
                Run r1 = new Run();

                Text t1 = new Text("Vorname:" + emp.Vorname );
                r1.AppendChild(t1);
                p1.AppendChild(r1);
                
                Paragraph p2 = new Paragraph();
                Run r2 = new Run();
                Text t2 = new Text("Nachname:" + emp.Nachname );
                r2.AppendChild(t2);
                p2.AppendChild(r2);
                
                Paragraph p3 = new Paragraph();
                Run r3 = new Run();
                Text t3 = new Text("Projekte:" + emp.Projekte );
                r3.AppendChild(t3);
                p3.AppendChild(r3);

                Paragraph p4 = new Paragraph();
                Run r4 = new Run();
                Text t4 = new Text("Geburtstag:" + emp.dateTime );
                r4.AppendChild(t4);
                p4.AppendChild(r4);
                
                body.AppendChild(p1);
                body.AppendChild(p2);
                body.AppendChild(p3);
                body.AppendChild(p4);
                doc.AppendChild(body);

                mainPart.Document = doc;

            }
            await _blazor.DownloadFile("Test.docx", memo, "application/octet-stream");
        }



    }










}
