@page "/EmployeeShortcard"

@using Team12.Data


<title>EmployeeShortcard.razor</title>


<ul class="card mb-2">

    <li>Vorname: @Worker.vorname </li>
    <li>Nachname: @Worker.nachname </li>
    <li>
        Projekte: <br>
        <ul>
            @foreach (string pro in Worker.projekte)
            {
                <li>@pro</li>
            }
        </ul>
    </li>
    <li>Geburtstag: @Worker.geburtstag.ToString("dd.MM.yyyy")</li>

</ul>



@code {

    [Parameter] public Employee Worker { get; set; }

}


