@page "/"

<h1>Mitarbeitendenuebersicht, Team 12</h1>

<p> Hier wird in Kuerze das Softwareprojekt des Team 12 entstehen <br />
    
    Die Nutzer koennen sich inzwischen die <a href="http://localhost:5000/fetchdata">Wettervorhersage </a> anschauen <br />
    </p>

