﻿@page "/EmployeeShortcard"


@using Team12.Data
<title>EmployeeShortcard.razor</title>

<ul class="card alert-dark">
    <li>Vorname.: @Mitarbeiter.Firstname</li>
    <li>Nachname.: @Mitarbeiter.Lastname</li>
    <li>
        Projekte.:
        <ul>
@foreach (String Projects in Mitarbeiter.Projects)
            {
            <li>@Projects</li>
            }
        </ul>
    </li>
    <li>Birthday.: @Mitarbeiter.Day_of_Birth.ToString("dd.MM.yyyy")</li>
</ul>


@code{

    [Parameter]
    public Employee Mitarbeiter { get; set; }

}
