@page "/EmployeeShortcard"
@using Team_12.Data

<h1>Mitarbeiter Shortcard</h1>

<div class="card">
    <div class="card-body">
        <h2 class="card-title"></h2>
    </div>
</div>

@code {
    private List<Employee> emplist 
    {

    }
}

