@page "/"

<h1>Das ist eine Überschrift</h1>
<p>Hier wird in Kürze das Softwareprojekt vom Team 12 zu finden sein.</p>
<p>Bis dahin können Sie sich die <a href="fetchdata">Wettervorhersage</a> in einem anderen Reiter ansehen.</p>