h1 {
        text-align: center;
        font-size: 200%;

}
h2 {
        text-align: center;
        font-size: 200%;
}

.topnav a {


        color: white;
        font-size: 22px;
        text-decoration: none;
        padding: 30px 22px;
}
.topnav a:hover {
        background-color: white;
        color: black;
}
.topnav {
        background-color: rgb(20, 150, 20);
        text-align: center;
        overflow: hidden;
        width: auto;
}

body {
        margin: 0;
        background-color: rgb(200, 240, 200);
        font-family: arial;
}

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;

}

td, th {
        border: 1px solid black;
        padding: 8px;
}

table {
        margin-left: auto;
        margin-right: auto;
        border-spacing: 0 0px;
        font-size: 70%;
        text-align: center;
}
tr:hover {
        background-color: white;
        color: black;
}

th {
        background-color: rgb(60, 200, 0);
        color: white;
}
tr {
        background-color: rgb(202, 220, 220);
}
.greenRow {
        background-color: rgb(0, 244, 0)
}
