@page "/EmployeeShortcard"

@using Team12.Data


<title>EmployeeShortcard.razor</title>


<table>
    <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Liste der bisherigen Projekte</th>
        <th>Geburtstag</th>
    </tr>
    <tr>
        <td>@Worker.Vorname</td>
        <td>@Worker.Nachname</td>
        <td>@Worker.PrevProjects</td>
        <td>@Worker.Geburtstag.ToString("yyyy-MM-dd")</td>
    </tr>

    

</table> 


@code {
    [Parameter]
    public Employee Worker { get; set; }


}
