@page "/"

<h1>Mitarbeitendenübersicht, Team 12</h1>

<p>Hier werden Seelen draufgehen!</p>
<p>In der Zwischenzeit die <a href="fetchdata">Wettervorhersage</a> anschauen.:</p>
<p>Alternativ kann man sich auch die <a href=" EmployeeShortCard"> Employees</a> anschauen</p>

