@page "/EmployeeShortcard"
@using DocumentFormat.OpenXml;
@using DocumentFormat.OpenXml.Packaging;
@using DocumentFormat.OpenXml.Wordprocessing;
@using System.IO
@using BlazorDownloadFile
@using DocumentFormat.OpenXml.Drawing.Diagrams
@inject IBlazorDownloadFileService _blazor
@using Team12.Data


<title>EmployeeShortcard.razor</title>


<ul class="card text-black bg-white border-dark mb-3" >

    <li>Vorname: @Worker.Vorname </li>
    <li>Nachname: @Worker.Nachname </li>
    <li>
        Projekte: <br>
        <ul>
            @foreach (string project in Worker.PrevProjects)
            {
                <li>@project</li>
            }
        </ul>
    </li>
    <li>Geburtstag: @Worker.Geburtstag.ToString("dd.MM.yyyy")</li>
    <li><button @onclick="() => CreateDoc(Worker)">Test</button></li>

</ul>



@code {
    [Parameter]
    public Employee Worker { get; set; }

    public async Task CreateDoc(Employee emp)
    {
        using (MemoryStream memo = new MemoryStream())
        {
            using (WordprocessingDocument wordDocument = WordprocessingDocument.Create(memo, WordprocessingDocumentType.Document))
            {
                MainDocumentPart mainPart = wordDocument.AddMainDocumentPart();
                Document doc = new Document();
                Body body = new Body();
                Paragraph p1 = new Paragraph();
                Run r1 = new Run();

                Text t1 = new Text("Vorname:" + emp.Vorname);
                r1.AppendChild(t1);
                p1.AppendChild(r1);

                Paragraph p2 = new Paragraph();
                Run r2 = new Run();
                Text t2 = new Text("Nachname:" + emp.Nachname);
                r2.AppendChild(t2);
                p2.AppendChild(r2);

                Paragraph p3 = new Paragraph();
                Run r3 = new Run();
                Text t3 = new Text("Projekte:");
                r3.AppendChild(t3);
                p3.AppendChild(r3);
                foreach (string p in emp.PrevProjects)
                {

                    p3.Append(new Run((new Text(p))));
                }

                

                Paragraph p4 = new Paragraph();
                Run r4 = new Run();
                Text t4 = new Text("Geburtstag:" + emp.Geburtstag);
                r4.AppendChild(t4);
                p4.AppendChild(r4);

                body.AppendChild(p1);
                body.AppendChild(p2);
                body.AppendChild(p3);
                body.AppendChild(p4);
                doc.AppendChild(body);

                mainPart.Document = doc;

            }
            await _blazor.DownloadFile("Test.docx", memo, "application/octet-stream");
        }

    }

}
