@page "/AddEmployeeToProject/{ID:int}"

@using AVATI.Data
@using DocumentFormat.OpenXml
@using DocumentFormat.OpenXml.Office2010.Excel
@using Microsoft.AspNetCore.Components

@inject IEmployeeService _employeeServiceSimple
@inject IProjektService _projectService
@inject NavigationManager _navigationManager
@inject SearchService _searchService
@inject IProposalService _proposal
@inject JsonImport _import
@inject IEmployeeService _employee
@inject IBasicDataService _basic
@inject IHardskillService _hard

<div class="modal @(_show ? "fade show" : "")" id="myModal" style="display: @(_show ? "block" : "none");">
<div class="modal-dialog modal-xl col" style="height: 800px">
<div class="modal-content col">

<div class="modal-header">
    <h5 class="modal-title">Mitarbeiter hinzufügen</h5>
    <button type="button" class="close" data-dismiss="modal" @onclick=@Close>
        <span aria-hidden="true">x</span>
    </button>
</div>


<div class="modal-body col" style="height: 800px; overflow-y: auto">
<EmployeeSearch IsProject="@_show" Id="@ID"></EmployeeSearch>
</div>
</div>
</div>
</div>


@if (_show)
{
    <div class="modal-backdrop fade show"></div>
}

@code{

    [Parameter]
    public int ID { get; set; }
    
    private bool _show = false;

    public void Showing(int Id)
    {
        ID = Id;
        _show = !_show;
        StateHasChanged();
    }

    public void Close()
    {
        _show = !_show;
        StateHasChanged();
    }

    public void Save()
    {
        _show = !_show;
        StateHasChanged();
    }

    

}