@page "/Projektübersicht/Projektedit/AddFieldToProject"
@page "/Projektübersicht/Projektedit/AddFieldToProject/{ID:int}"
@page "/AddFieldToProject"

@using AVATI.Data
@using System.Net
@using System.Threading
@using Blazorise
@using Microsoft.AspNetCore.Http.Extensions

@inject Projectedit _projectedit
@inject JsonImport _jsonImport
@inject IProjektService _projectService
@inject IBasicDataService _basic

@if (_show)
{
    <div class="modal fade show d-block" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <h3 class="modal-title">Auswahl Branchen</h3>
                    <button type="button" class="close" data-dismiss="modal" @onclick="Showing">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body" style="min-width: 100%">
                    <label class="font-weight-bold">Branchen zur Auswahl stehend:</label>
                    <div class="list-group col overflow-auto border-dark" style="height: 250px">
                        @foreach (var field in _allFields)
                        {
                            if (!_fieldsChosen.Contains(field))
                            {
                                <button type="button" class="btn btn-outline-dark" @onclick=@(() => { _fieldsChosen.Add(field); })>@field</button>
                            }
                        }
                    </div>
                    <hr class="mx-2"/>                                  <!--line divider -->
                    <label class="font-weight-bold ">Branchen im Projekt:</label>
                    <div class="list-group col overflow-auto text-center border-dark" style="height: 250px">
                        @foreach (var field in _fieldsChosen)
                        {
                            <button type="button" class="btn btn-outline-dark" @onclick=@(() => { _fieldsChosen.Remove(field); })>@field</button>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group ml-5">
                        <button type="button" class="btn btn-info" data-dismiss="modal" @onclick="Showing"><span class="oi oi-circle-x" aria-hidden="true"></span> Abbrechen</button>
                        <button type="button" class="btn btn-success" @onclick="Submit"><span class="oi oi-document" aria-hidden="true"></span> Speichern</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
}

@if (_show)
{
    <div class="modal-backdrop fade show"></div>
}

@code {

    [Parameter]
    public Projectedit Abstract { get; set; }
    
    [Parameter]
    public Project Project { get; set; }
    
    private bool _show;

    private List<string> _allFields;
    private List<string> _fieldsChosen;
    
    public string Temp { get; set; }

    protected override void OnParametersSet()
    {
        _allFields = _basic.GetAllFields();
        _fieldsChosen = new List<string>(Project.Fields);
    }


    public void Showing()
    {
        _show = !_show;
        StateHasChanged();
    }


    public void Submit()
    {
        _show = !_show;
        Project.Fields = _fieldsChosen;
        Abstract.Update();
    }


}
