@page "/Projektübersicht/Projektedit/AddFieldToProject"
@page "/Projektübersicht/Projektedit/AddFieldToProject/{ID:int}"
@page "/AddFieldToProject"

@using AVATI.Data
@using System.Net
@using System.Threading
@using Blazorise
@using Microsoft.AspNetCore.Http.Extensions

@inject Projectedit _projectedit
@inject JsonImport _jsonImport
@inject IProjektService _projectService
@inject NavigationManager _navigationManager

@if (_show)
{
    <div class="modal fade show d-block" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <h3 class="modal-title">Auswahl Branchen</h3>
                    <button type="button" class="close" data-dismiss="modal" @onclick=@Close>
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body" style="min-width: 100%">
                    <label class="font-weight-bold">Branchen zur Auswahl stehend:</label>
                    <div class="list-group col overflow-auto border-dark" style="height: 250px">
                        @foreach (var field in AttributestoDisplay)
                        {
                            if (!AttributestoSearch.Contains(field))
                            {
                                <button type="button" class="btn btn-outline-dark" @onclick=@(() => { UpdateSearch(field); })>@field</button>
                            }
                        }
                    </div>
                    <hr class="mx-2"/>                                                                                  <!--line divider -->
                    <label class="font-weight-bold ">Branchen im Projekt:</label>
                    <div class="list-group col overflow-auto text-center border-dark" style="height: 250px">
                        @foreach (var field in AttributestoSearch)
                        {
                            <button type="button" class="btn btn-outline-dark" @onclick=@(() => { UpdateContains(field); })>@field</button>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group ml-5">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="Showing"><span class="oi oi-circle-x" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-success" @onclick="(() => { Showing(); Submit(ID); })"><span class="oi oi-document" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>


    </div>
}

@if (_show)
{
    <div class="modal-backdrop fade show"></div>
}

@code {

    [Parameter]
    public int ID { get; set; }

    
    private bool _show;

    public string temp { get; set; }

    public List<string> AttributestoDisplay { get; set; } = new List<string>();
    public List<string> AttributestoSearch { get; set; } = new List<string>();

    JSonStructure.Rootclass jsonFields;

    public void Showing()
    {
        _show = !_show;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        jsonFields = _jsonImport.ImportJsonFile();
        AttributestoDisplay = new List<string>(jsonFields.fields);
        AttributestoSearch = new List<string>(_projectService.GetProject(ID).Fields);
    }

    public void UpdateSearch(string field)
    {
        if (AttributestoDisplay.Contains(field))
        {
            AttributestoDisplay.Remove(field);
            AttributestoSearch.Add(field);
        }
    }

    public void UpdateContains(string field)
    {
        if (AttributestoSearch.Contains(field))
        {
            AttributestoSearch.Remove(field);
            AttributestoDisplay.Add(field);
        }
    }

    public void Close()
    {
        _show = !_show;
        StateHasChanged();
    }

    public void AddField(string field)
    {
        if (field == null)
        {
        }
        else
        {
            AttributestoDisplay.Add(field);
        }
    }

    public void Submit(int ID)
    {
        Project temp = _projectService.GetProject(ID);
        temp.Fields = AttributestoSearch;
        _navigationManager.NavigateTo("/Projektübersicht/Projektedit/" + ID);
        StateHasChanged();
    }


}
