.global, .local, .stop {
    color: white;
    width: 20px;
    font-size: 12px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    padding: 0;
}

.global {
    font-weight: bold;
    background: #5bc0de;
    border-color: #5bc0de;
    box-shadow: #5bc0de;
    border-left: #5bc0de;
    border-right: #5bc0de;
}

.local {
    font-weight: bold;
    background: #9b838b;
    border-color: #9b838b;
    box-shadow: #9b838b;
    border-left: #9b838b;
    border-right: #9b838b;
}

.stop {
    font-weight: bold;
    background: #d9534f;
    border-color: #d9534f;
    box-shadow: #d9534f;
    border-left: #d9534f;
    border-right: #d9534f;
}

.global:active, .local:active, .stop:active {
    outline: none;
}

.global:focus, .local:focus, .stop:focus {
    outline: none;
}

.inline{
    display: inline !important;
}

.wordBreak {
    width: 720px;
    white-space: normal;
    word-break: break-word;
}
