@page "/PopAddProjectPurposeToProject/{ID:int}"

@using AVATI.Data
@using System.Net
@using System.Threading
@using Blazorise
@using Microsoft.AspNetCore.Http.Extensions

@inject Projectedit _projectedit
@inject JsonImport _jsonImport
@inject IProjektService _projectService
@inject NavigationManager _navigationManager
@inject ProjectPurposeService _projectPurpose

@if (_show)
{
    <div class="modal @(_show ? "fade show" : "")" id="myModal" style="display: @(_show ? "block" : "none");">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <h3 class="modal-title">Projektzweck hinzufügen</h3>
                    <button type="button" class="close" data-dismiss="modal" @onclick=@Close>
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body" style="min-width: 100%">
                    <p>Hier können Sie Projektzwecke dem Projekt hinzufügen.</p>
                    <p>
                        Projektzwecke erläutern über die Projektbeschreibung hinaus für welchen Zweck,
                        zu welchem Ziel oder welches Problem mit einer speziellen Tätigkeit gelöst wurde
                    </p>
                    <div class="col">
                        <div class="row">
                            <input id="Purpose" class="form-control" @bind-value="@Description"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group ml-5">
                        <button type="button" class="btn btn-info" data-dismiss="modal" @onclick="() => { Close(); }">
                            <span class="oi oi-circle-x" aria-hidden="true"></span>Abbrechen
                        </button>
                        <button type="button" class="btn btn-success" @onclick="(() => {  Close(); Submit(ID);})">
                            <span class="oi oi-document" aria-hidden="true"></span>Speichern
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (_show)
{
    <div class="modal-backdrop fade show"></div>
}

@code {

    [Parameter]
    public Projectedit Abstract { get; set; } 

    [Parameter]
    public int ID { get; set; }
    
    public string Description { get; set; }
    private bool _show = false;

    public void Showing(int projectID)
    {
        ID = projectID;
        _show = !_show;
        StateHasChanged();
    }
    
    public void Close()
    {
        _show = !_show;
        StateHasChanged();
    }

    public void Submit(int ID)
    {
        ProjectPurpose temp = new ProjectPurpose();
        temp.Purpose = Description;
        temp.ProjectID = ID;
        _projectPurpose.AddProjectActivityToPurpose(temp);
        Abstract.Update();
        StateHasChanged();
    }

}