@page "/Projektübersicht"

@using AVATI.Data
@inject IProjektService _projectService
@inject JsonImport _jsonImport


<h3>Projektübersicht</h3>

<table id="table" data-show-refresh="true" class="table align-middle mb-5 table-striped">
    <thead>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Suche Projekt..."
               @bind="Filter"
               @bind:event="oninput">
    </div>
    <tr>
        <th scope="col">Projekttitel</th>
        <th scope="col">Projektbeschreibung</th>
        <th scope="col">Branchen</th>
    </tr>
    </thead>
    <tbody>
    @if (_projectService.GetAllProjects().Any())
    {
        foreach (var project in _projectService.GetAllProjects())
        {
            
            <tr>
                <td>@project.Projecttitel</td>
                <td>@project.Projectdescription</td>
                <td>@String.Join(" | ", project.Fields)</td>
                <td>
                    <a href="/Projektübersicht/Projektedit/@project.ProjectID">
                        <button type="button" class="btn btn-primary"><span class="oi oi-pencil" aria-hidden="true"></span></button>
                    </a>
                    
                    <a href="/Projektübersicht/ProjectDetailedView/@project.ProjectID">
                        <button type="button" class="btn btn-info"><span class="oi oi-project" aria-hidden="true"></span></button>
                    </a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>

@code{
    public string Input { get; set; }
    public bool Clicked { get; set; } = false;

    private string Filter { get; set; }

 

    public void ProjectSuche()
    {
        Clicked = true;
        List<Project> projects = _projectService.GetAllProjects();
        _projectService.SearchProject(projects, Input);
    }

}