@page "/skill/index"
@page "/skill"
@using Team12.Data
@inject ISkillService _skillService;
@inject NavigationManager _manager;

<div class="table-bordered">
    <table>
        <thead>
        <tr>
            <th>Skillname</th>
            <th>Skilltyp</th>
            <th>Bearbeiten</th>
            <th>Löschen</th>
            <th>Hinzufügen</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var skill in _skillService.GetAllSkills()) {
            <tr>
                <td>@skill.Name</td>
                <td>@skill.SkillCategory</td>
                <td><button class="btn-primary" @onclick="() => btn_edit(skill.Id)">bearbeitne</button></td>
                <td><button class="btn-danger" @onclick="() => btn_del(skill.Id)">löschne</button></td>
                <td><button class="btn-success" @onclick="() => btn_add()">hinzufügne</button></td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    <button class="btn btn-success" @onclick="() => btn_add()">Anlegen</button>
</div>

@code {
    private void btn_edit(int id) {
        _manager.NavigateTo("/skill/edit/" + id);
    }
    private void btn_del(int id) {
        _skillService.DeleteSkill(id);
    }
    private void btn_add() {
        _manager.NavigateTo("/skill/edit" + 0);
    }
    //href einfacher 
}