@page "/Registration"
@using AVATI.Data
@using Blazorise

@inject ILoginService _login
@inject NavigationManager _navManager

@inherits LayoutComponentBase

@layout Emptylayout


<AuthorizeView>
    <Authorized>
        @if (true)
        {
            _navManager.NavigateTo("/profile");
        }
    </Authorized>
      <NotAuthorized Context="authContext">
    
            <form action="cookie/Registration" method="post">
                <div class="row justify-content-center">
                    <div class="box">
                                <h1>Registrierung</h1>
                                <input name="username" type="text" class="form-control" id="Username" required placeholder="Nutzername"/>
                                <input class="form-control" name="password" type="password" required placeholder="Passwort"/>
                                <input class="form-control" name="passwordCheck" type="password" placeholder="Passwort wiederholen" required/>
                                <div class="form-group">
                                    <input type="submit" value="Registrieren" >
                                    <input type="button" @onclick="() => { BacktoLogin();}" value="Zurück zum Login"/>
                                </div>
                            </div>
                </div>
    
                    <style type="text/css">
                    body{ background-image: url("https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940%22")  !important; }
                </style>
            </form>
        </NotAuthorized>
</AuthorizeView>

@if (_booleanSignedIn)
{
    <form action="cookie" method="post">
        <input type="text" name="name"/>
        <input type="text" name="empType"/>
        <input type="submit"/>
    </form>
}

@code {
    private bool _booleanLoginCheck = false;
    LoginClass Log = new LoginClass();
    public int Id { get; set; }
    public string empType { get; set; }
    private bool _booleanSignedIn { get; set; }
    //private bool _booleanRegister = false;

    private void Register()
    {
        Id = _login.LogIn(Log.Username, Log.Password);
        if (Id == -1)
        {
            _booleanLoginCheck = true;
        }
        else
        {
            empType = _login.Login_EmpType(Id);

            _navManager.NavigateTo("/profile/" + Id);
        }
    }

    private void BacktoLogin()
    {
        _navManager.NavigateTo("/");
    }

}