@page "/EmployeeShortcard"
@using Team12.Data

<title>Mitarbeiter Shortcard</title>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Mitarbeiter</h3>
        <ul>
            <li>Vorname: @Employee.Firstname</li>
            <li>Nachname: @Employee.Lastname</li>
            <li>Geburtstag: @Employee.Day_of_Birth.ToString("dd/MM/yyyy")</li>
            <li>Projekte:</li>
            <ul>
                @foreach (var project in Employee.Fin_Projects)
                {
                    <li>@project</li>
                }
            </ul>
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public Employee Employee { get; set; }
}