@page "/profile/update/AddFieldToProfile"
@page "/profile/update/AddFieldToProfile/{ID:int}"


@using AVATI.Data
@using System.Net
@using System.Threading
@using Microsoft.AspNetCore.Http.Extensions

@inject Projectedit _projectedit
@inject JsonImport _jsonImport
@inject ProjectServiceSimple _projectServiceSimple
@inject NavigationManager _navigationManager
@inject IEmployeeService _employee

<div class="modal @(_show ? "fade show" : "")" id="myModal" style="display: @(_show ? "block" : "none");">
    <div class="modal-dialog modal-dialog-scrollable ">
        <div class="modal-content">
            <div class="modal-header">
                <div class="body header">
                    <button type="button" style="color: red"  class="close text-right" data-dismiss="modal" @onclick="Showing">&times;</button>
                    <h3>Hard Skills</h3>
                    <h3>Auswahl der hinzufügbaren Branchen</h3>
                    <div class="modal-body overflow-auto">
                        <div class="form-group col row overflow-auto mr-3 col-9" style="height: 250px">
                            @foreach (var field in AttributestoSearch)
                            {
                                <div class="mb-3 col-sm">
                                    <button type="button" class="btn-sm btn btn-primary btn-block" @onclick=@(() => { UpdateContains(field); })>@field</button>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="d-inline"></div>
                    <div class="container">
                        <div class="form-group col row overflow-auto mr-3 col-9" style="height: 250px">
                            @foreach (var field in AttributestoDisplay)
                            {
                                <div class="mb-3 col-sm">
                                    <button type="button" class="col btn btn-primary btn-lg btn-block" @onclick=@(() => { UpdateSearch(field); })>@field</button>
                                </div>
                            }
                        </div>
                    </div>
                    <h3></h3>
                </div>
            </div>
            <div class="container row-5">
                <button type="button" class="btn btn-success col-3 " @onclick="(() => { Showing(); Submit(emp); })">Save</button>
                <button type="button" class="btn btn-danger col-3 " data-dismiss="modal" @onclick="Showing">Cancel</button>
            </div>
        </div>
    </div>
</div>

@if (_show)
{
    <div class="modal-backdrop fade show"></div>
}

@code {

    [Parameter]
    public int ID { get; set; }

    public Employee emp;

    private bool _show = false;

    public string temp { get; set; }
    Project currentProject = new Project();

    public List<string> AttributestoDisplay { get; set; } = new List<string>();
    public List<string> AttributestoSearch { get; set; } = new List<string>();

    JSonStructure.Rootclass jsonFields;

    public void Showing()
    {
        _show = !_show;
        StateHasChanged();
    }


    protected override void OnInitialized()
    {
        emp = _employee.GetEmployeeProfile(ID);
        jsonFields = _jsonImport.ImportJsonFile();
        AttributestoDisplay = new List<string>(jsonFields.fields);
    }

    public void UpdateSearch(string field)
    {
        if (AttributestoDisplay.Contains(field))
        {
            AttributestoDisplay.Remove(field);
            AttributestoSearch.Add(field);
        }
    }

    public void UpdateContains(string field)
    {
        if (AttributestoSearch.Contains(field))
        {
            AttributestoSearch.Remove(field);
            AttributestoDisplay.Add(field);
        }
    }

    public void AddField(string field)
    {
        if (field == null)
        {
        }
        else
        {
            AttributestoDisplay.Add(field);
        }
    }

    public void Submit(Employee emp)
    {
        Project temp = currentProject;
        foreach (var project in _projectServiceSimple._projects)
        {
            if (ID == project.ProjectID)
            {
                currentProject = project;
            }
        }
        emp.Field = AttributestoSearch;
        _navigationManager.NavigateTo("/profile/update/" + emp.EmployeeId);
    }

}