@page "/employeeProject/employeeProjectEdit"
@page "/employeeProject/employeeProjectEdit/{Id:int}"

@using AVATI.Data
@using AVATI.Pages.Project
@using Blazorise
@inject IProjektService _projektService
@inject NavigationManager _navigationManager
@inject ProjectServiceSimple _projectServiceSimple

<AddFieldToProject @ref="_addFieldToProject"/>

<h3>Edit Projekt</h3>

<EditForm Model="@_project" OnInvalidSubmit="@Save">
    <DataAnnotationsValidator/>

    <div class="column">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" value="@_project.Projecttitel">Projekttitel</label>
            <div class="col-sm-10">
                <InputText id="projekttitel" class="form-control" @bind-Value="_project.Projecttitel"></InputText>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Projektbeschreibung</label>
            <div class="col-sm-10">
                <InputText id="projektbeschreibung" class="form-control" @bind-Value="_project.Projectdescription"></InputText>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Branchen</label>
            <div class="col-sm-8 col-form-label">
                <input class="form-control" type="text" value="@String.Join(" | ", 
                   _projectServiceSimple.GetAllFieldsFromOneProject(ID).ToArray())" placeholder="" readonly/>
                <div><button class="btn btn-info" @onclick="() => PopAddFieldToProject()">Add Branchen</button> </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Projektanfang</label>
            <div class="col-sm-2 col-form-label">
                <input type="date" id="datetimepicker" @bind="_project.Projectbeginning"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Projekttätigkeiten</label>
            <div class="col-sm-2 col-form-label">
                <!--                     brauch hier die employee klasse                                  -->
            </div>
        </div>
    </div>
    <div class="container">
        <a href="/Projektübersicht" class="col-sm-8 col-form-label">
            <button type="button" class="btn btn-success" @onclick="(() => { Save(); })">Submit</button>
        </a>
        <a href="/Projektübersicht" class="col-sm-8 col-form-label">
            <button type="button" class="btn btn-danger">Cancel</button>
        </a>
    </div>
</EditForm>


@code {
    private Project _project { get; set; } = new Project();
    AddFieldToProject _addFieldToProject;

    [Parameter]
    public int ID { get; set; }

    public DateTime time { get; set; }
    public string field { get; set; }
    

    private void Save()
    {
        
        _projectServiceSimple.UpdateProject(_project);
        _navigationManager.NavigateTo("/profile");
    }
    public void PopAddFieldToProject()
    {   
        _addFieldToProject.Showing();
    }

}