* {
    margin: 0;
    padding: 0;
}
.topnav {
    background-color: limegreen;
    overflow: hidden;
    padding-bottom: 11px;
    padding-top: 11px;
    top: 0;
    position: fixed;
    width: 100%;
}
.topnav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: lawngreen;
    color: darkred;
}
body {
    background-color: #d1fccf;
}
.my_table {
    table-layout: fixed;
    width: 1200px;
    height: 192px;
}
.my_table td {
    text-align: center;
    min-width: 200px;
    max-width: 300px;
    font-size: 20px;
    height: 33px;
    font-family: Arial;
}
.my_table th {
    min-width: 150px;
    max-width: 300px;
    background-color: #00d619;
    font-size: 25px;
    height: 35px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.tr1, .tr3 {
    background-color: #d1fccf;
}
.tr2, .tr4 {
    background-color: limegreen;
}
.my_table td:hover, th:hover {
    background-color: #ddd;
    color: black;
}
