<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlexP.Selenium.Chrome.WebDriver" version="88.0.4324.96" targetFramework="net472" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="4.0.0-beta.2" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.0.0-beta2" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="90.0.4430.2400" targetFramework="net472" />
</packages>