.cap {
    color: white;
    background-color: #343a40;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 3px 15px 5px 30px;
    margin-top: 50px;
}

.table tr:hover {
    background-color: #f5d7d7;
}

.table tr {
    background-clip: padding-box;
    border-radius: 30px !important;
}

.grey {
    background-color: #e3e3e3;
}

.white {
    background-color: white;
}

.smalltd {
    width: 150px;
}

caption {
    color: #343a40;
    caption-side: top;
}

small {
    color: #818181;
    font-size: 15px;
}

hr {
    color: #818181;
}

.hsk {
    color: #a6a6a6;
    font-size: 12px;
}

.btn-outline-primary {
    background-color: white;
}

.btn-outline-primary:hover {
    background-color: #0275d8;
}
.btn-primary{
    background-color: #DC6F56 !important;
    outline-color: #DC6F56; !important;
    border-color: #DC6F56; !important;
}