@using AVATI.Data
@using AVATI.Pages

@inject IBasicDataService _basicDataService
@inject NavigationManager _navigationManager


<div class="modal @(_show ? "fade show" : "" )" id="myModal" style=" display: @(_show ? "block" : "none");">
               <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      @if (Type == BasicDataType.SoftSkill){
                        <h4 class="modal-title">Erstelle ein Softskill</h4>
                      } else if (Type == BasicDataType.Field) {
                        <h4 class="modal-title">Erstelle eine Branche</h4>
                      } else {
                        <h4 class="modal-title">Erstelle eine Rolle</h4>
                      }
                      <button type="button" class="close" data-dismiss="modal" @onclick="Showing">&times;</button>
                    </div>
                    <div class="modal-body">
                      @if (_showExistError)
                      {
                        @if (Type == BasicDataType.SoftSkill)
                        {
                          <a style="color: red; margin-bottom: 20px;"><b>Es existiert bereits ein Softskill mit derselben Bezeichnung</b></a>
                        }
                        else if (Type == BasicDataType.Field)
                        {
                          <a style="color: red; margin-bottom: 20px;"><b>Es existiert bereits eine Branche mit derselben Bezeichnung</b></a>
                        }
                        else
                        {
                          <a style="color: red; margin-bottom: 20px;"><b>Es existiert bereits eine Rolle mit derselben Bezeichnung</b></a>
                        }
                      } else if (_showEmptyError)
                      {
                        <a style="color: red; margin-bottom: 20px;"><b>Die Bezeichnung ist erforderlich</b></a>
                      }
                      
                      <input class="form-control col-7" type="text" id="softskill" @bind="Description"/>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="Showing">Abbrechen</button>
                      <button type="button" class="btn btn-success" @onclick="Create">Speichern</button>
                    </div>
                  </div>
              </div>
          </div>
@if (_show)
{
  <div class="modal-backdrop fade show"></div>
}


@code {
  [Parameter] public BasicDataAbstract Abstract { get; set; }
  
  [Parameter]
  public BasicDataType Type { get; set; } 
  
  private bool _show = false;

  private string Description { get; set; }

  private bool _showEmptyError = false;

  private bool _showExistError = false;

  protected override void OnParametersSet()
  {
    _showEmptyError = false;
    _showExistError = false;
  }

  private void Create()
  {
    if (string.IsNullOrEmpty(Description) || string.IsNullOrWhiteSpace(Description))
    {
      _showExistError = false;
      _showEmptyError = true;
      return;
    }
    _showEmptyError = false;

    if (CheckDescription())
    {
      _showEmptyError = false;
      _showExistError = true;
      return;
    }
    _showExistError = false;
    
    switch (Type)
    {
      case BasicDataType.SoftSkill:
        _basicDataService.CreateSoftSkill(Description);
        Abstract.UpdateSoftskills();
        break;
      case BasicDataType.Field:
        _basicDataService.CreateField(Description);
        Abstract.UpdateFields();
        break;
      default:
        _basicDataService.CreateRole(Description);
        Abstract.UpdateRoles();
        break;
    }
    Description = "";
    Showing();
  //_navigationManager.NavigateTo(_navigationManager.Uri, true);
  }

  private bool CheckDescription()
  {
    return (Type == BasicDataType.SoftSkill && !_basicDataService.CheckDescriptionSoftskill(Description)) ||
           (Type == BasicDataType.Field && !_basicDataService.CheckDescriptionField(Description)) ||
           (Type == BasicDataType.Role && !_basicDataService.CheckDescriptionRole(Description));
  }

  public void Showing()
  {
    _show = !_show;
    StateHasChanged();
  }
}