@using AVATI.Data
@using DocumentFormat.OpenXml.InkML

@inject IBasicDataService _basicDataService
@inject NavigationManager _navigationManager

<div class="modal @(_show ? "fade show" : "" )" id="myModal" style=" display: @(_show ? "block" : "none");">
               <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      @if (Type == BasicDataType.SoftSkill)
                      {
                        <h4 class="modal-title">Ändere den Softskill</h4>
                      }
                      else if (Type == BasicDataType.Field)
                      {
                        <h4 class="modal-title">Ändere die Branche</h4>
                      }
                      else
                      {
                        <h4 class="modal-title">Ändere die Rolle</h4>
                      }
                      <button type="button" class="close" data-dismiss="modal" @onclick="Showing">&times;</button>
                    </div>
                    <div class="modal-body">
                      @if (_showExistError)
                      {
                        @if (Type == BasicDataType.SoftSkill)
                        {
                          <a style="color: red; margin-bottom: 20px;"><b>Es existiert bereits ein Softskill mit derselben Bezeichnung</b></a>
                        }
                        else if (Type == BasicDataType.Field)
                        {
                          <a style="color: red; margin-bottom: 20px;"><b>Es existiert bereits eine Branche mit derselben Bezeichnung</b></a>
                        }
                        else
                        {
                          <a style="color: red; margin-bottom: 20px;"><b>Es existiert bereits eine Rolle mit derselben Bezeichnung</b></a>
                        }
                      } else if (_showEmptyError)
                      {
                        <a style="color: red; margin-bottom: 20px;"><b>Die Bezeichnung ist erforderlich</b></a>
                      } else if (_showTooLongError)
                      {
                        <a style="color: red; margin-bottom: 20px;"><b>Die Bezeichnung ist zu lang (max. 150 Zeichen)</b></a>
                      }                      
                      <input class="form-control col-7" type="text" id="softskill" @bind="NewDescription"/>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="Showing">
                        <span class="oi oi-circle-x" aria-hidden="true"></span> Abbrechen
                      </button>
                      <button type="button" class="btn btn-success" @onclick="Update">
                        <span class="oi oi-document" aria-hidden="true"></span> Speichern
                      </button>
                    </div>
                  </div>
              </div>
          </div>
@if (_show)
{
  <div class="modal-backdrop fade show"></div>
}


@code {
  [Parameter] public BasicDataAbstract Abstract { get; set; }
  
  [Parameter]
  public string OldDescription { get; set; }

  [Parameter]
  public BasicDataType Type { get; set; }

  private bool _show = false;
  
  private string NewDescription { get; set; }
  
  private bool _showEmptyError;

  private bool _showExistError;
  
  private bool _showTooLongError;

  protected override void OnParametersSet()
  {
    NewDescription = OldDescription;
    _showEmptyError = false;
    _showExistError = false;
    _showTooLongError = false;
  }

  private void Update()
  {
    if (!_basicDataService.CheckEmptyBasicData(NewDescription))
    {
      _showEmptyError = true;
      _showExistError = false;
      _showTooLongError = false;
      return;
    }
    _showEmptyError = false;

    if (CheckDescription() && NewDescription != OldDescription)
    {
      _showExistError = true;
      _showTooLongError = false;
      return;
    }
    _showExistError = false;

    if (!_basicDataService.CheckLengthBasicData(NewDescription))
    {
      _showTooLongError = true;
      return;
    }
    _showTooLongError = false;
    
    switch (Type)
    {
      case BasicDataType.SoftSkill:
        _basicDataService.UpdateSoftSkill(NewDescription, OldDescription);
        Abstract.UpdateSoftskills();
        break;
      case BasicDataType.Field:
        _basicDataService.UpdateField(NewDescription, OldDescription);
        Abstract.UpdateFields();
        break;
      default:
        _basicDataService.UpdateRole(NewDescription, OldDescription);
        Abstract.UpdateRoles();
        break;
    }
    Showing();
    //_navigationManager.NavigateTo(_navigationManager.Uri, true);
  }
  
  private bool CheckDescription()
  {
    return (Type == BasicDataType.SoftSkill && !_basicDataService.CheckDescriptionSoftskill(NewDescription)) ||
           (Type == BasicDataType.Field && !_basicDataService.CheckDescriptionField(NewDescription)) ||
           (Type == BasicDataType.Role && !_basicDataService.CheckDescriptionRole(NewDescription));
  }

  public void Showing()
  {
    _show = !_show;
    StateHasChanged();
  }
}