@page "/TreeDiagramm"

@using AVATI.Data
@inject IHardskillService _hardskillService
<h3>TreeDiagramm</h3>

@foreach (Hardskill hardskillcat in _hardskillService.GetAllHardskillCategorys())
{
    @if (hardskillcat.IsRoot())
    {
        <EditTreeElement Hardskills ="@(new List<Hardskill>(){ hardskillcat })"/>
    }
}

@code {
    void OnClick(ItemClickEventArgs e)
    {
        Console.WriteLine($"Item Clicked => Menu: {e.ContextMenuId}, MenuTarget: {e.ContextMenuTargetId}, IsCanceled: {e.IsCanceled}, MenuItem: {e.MenuItemElement}, MouseEvent: {e.MouseEvent}");
    }
}