@using DocumentFormat.OpenXml.Drawing
@inherits LayoutComponentBase


<div class="page">
    <div style="@SidebarWidth" class="sidebar">
        <button class="closeButton" @onclick="CloseNav">
            <span class="oi oi-menu"></span>
        </button>
        <ul class="nav flex-column">
            
            <AuthorizeView Roles="SalesStaff, Employee ,Administrator">
                <Authorized>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/Profile/16" Match="NavLinkMatch.All">
                            <span class="oi oi-person" aria-hidden="true"></span> Profil
                        </NavLink>
                    </li>
                </Authorized>
                
                <NotAuthorized>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/Login2">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Login
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
            <AuthorizeView Roles="SalesStaff, Administrator">
                <Authorized>
                     
                                        <li class="nav-item px-3">
                                            <NavLink class="nav-link" href="/Projektübersicht">
                                                <span class="oi oi-clipboard" aria-hidden="true"></span> Projektübersicht
                                            </NavLink>
                                        </li>
                                        <li class="nav-item px-3">
                                            <NavLink class="nav-link" href="/ProposalOverview">
                                                <span class="oi oi-spreadsheet" aria-hidden="true" id="proposalOverview"></span> Angebotsübersicht
                                            </NavLink>
                                        </li>
                                        <li class="nav-item px-3">
                                            <NavLink class="nav-link" href="/SearchEmployee">
                                                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Mitarbeitersuche
                                            </NavLink>
                                        </li>
                                        <li class="nav-item px-3">
                                            <NavLink class="nav-link" href="/BasicDataAbstract">
                                                <span class="oi oi-list" aria-hidden="true"></span> Basisdatenübersicht
                                            </NavLink>
                                        </li>
                                        <li class="nav-item px-3">
                                            <NavLink class="nav-link" href="/ProjectActivities">
                                                <span class="oi oi-task" aria-hidden="true"></span> Projekttätigkeiten
                                            </NavLink>
                                        </li>
                </Authorized>
            </AuthorizeView>
        </ul>
    </div>
    <div class="top-row px-4" style="@MainMargin">
        @if (_width == 0)
        {
            <button class="openButton" @onclick="OpenNav"><span class="oi oi-menu"></span></button>
            <a class="brand" id="brandCollapsed" href="">AVATI</a>
            <img class="logo" id="logoCollapsed" src="XITASO_Logo.png" alt="Xitaso Logo">
            <a class="about" id="aboutCollapsed" href="">About</a>
        }
        else
        {
            <a class="brand" id="brandOpen" href="">AVATI</a>
            <img class="logo" id="logoOpen" src="XITASO_Logo.png" alt="Xitaso Logo">
            <a class="about" id="aboutOpen" href="">About</a>
        }
    </div>
    <div class="content px-4" style="@MainMargin">
        <p>@Body</p>
    </div>
</div>


@code {
    private int _width = 300;
    private string SidebarWidth => $"width: {_width}px;";
    private string MainMargin => $"margin-left: {_width}px;";
    void OpenNav() => _width = 300;
    void CloseNav() => _width = 0;

    

    private void LogOut()
    {

    }
}