@using AVATI.Data
@inject IProposalService _proposal

@if (ShowEdit)
{
    if (TempEmp != null)
    {
        <div class="modal fade show d-block" data-bs-backdrop="static" id="exampleModal" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content bg-light  font-weight-bold text-black">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bolder text-center" id="titleLabel">Detailansicht</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick=@Close>
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row g-4 justify-content-md-center mb-4">
                                <div class="card border-secondary col mr-4">
                                    <div class="card-header text-left bg-transparent border-secondary">Hardskills</div>
                                    <div class="card-body text-left">
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>
                                    </div>
                                </div>
                                <div class="card text-black border-dark col">
                                    <img src="https://www.geniale-tipps.de/images/t/whatsapp-profilbild-grau.jpg" class="card-img-top" alt=""/>
                                    <div class="card-body">
                                        <h5 class="card-title">Max Mustermann</h5>
                                        <p class="card-text text-left">Eventuell das RC</p>
                                        <p>Hallo hier sind Infos</p>
                                    </div>
                                </div>
                                <div class="card border-secondary col ml-4">
                                    <div class="card-header text-left bg-transparent border-secondary">Softskills</div>
                                    <div class="card-body text-left">
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>

                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="card border-secondary text-center col">
                                    <div class="card-header text-left bg-transparent border-secondary">Branche(n)</div>
                                    <div class="card-body">
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>

                                    </div>
                                </div>
                                <div class="card border-secondary col mr-4 ml-4">
                                    <div class="card-header text-left bg-transparent border-secondary">Rolle(n)</div>
                                    <div class="card-body text-left">
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>
                                    </div>
                                </div>
                                <div class="card border-secondary col ">
                                    <div class="card-header text-left bg-transparent border-secondary">Sprache(n)</div>
                                    <div class="card-body text-left">
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>
                                        <button class="btn btn-sm btn-outline-success mb-1 mr-1">testsddsf</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row float-right mt-5">
                            <button class="btn btn-danger mr-2"@onclick=@Close>Abbrechen</button>
                            <button class="btn btn-success mr-2"@onclick=@Close>Änderungen speichern</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        Console.WriteLine("Couldn't find employee");
    }
}

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}



@code {

    [Parameter]
    public int EmpId { get; set; }

    public int PropId { get; set; }
    private Employee TempEmp;
    public bool ShowEdit { get; set; }
    public bool ShowBackdrop { get; private set; }

    public void Show(int employeeId, int proposalId)
    {
        ShowEdit = !ShowEdit;
        ShowBackdrop = !ShowBackdrop;
        EmpId = employeeId;
        PropId = proposalId;
        if (_proposal.GetProposal(PropId) != null)
        {
            TempEmp = _proposal.GetProposal(PropId).Employees.Find(e => e.EmployeeId == EmpId);
        }
        StateHasChanged();
    }

    private void Close()
    {
        ShowEdit = !ShowEdit;
        ShowBackdrop = !ShowBackdrop;
        StateHasChanged();
    }

}