@using AVATI.Data
@inject IProposalService _proposal

@if (ShowEdit)
{
    if (TempEmp != null)
    {
        <div class="modal fade show d-block" data-bs-backdrop="static" id="exampleModal" role="dialog">
            <div class="modal-dialog modal-lg"  role="document">
                <div class="modal-content bg-light  font-weight-bold text-black" style="height: 600px; width: 800px">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bolder text-center" id="titleLabel">Detailansicht</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick=@Close>
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row col-3">
                                <button class="btn btn-secondary">test</button>
                                <button class="btn btn-secondary">test</button>
                                <button class="btn btn-secondary">test</button>
                                <button class="btn btn-secondary">test</button>
                                <button class="btn btn-secondary">test</button>
                            </div>
                            <div class="col d-flex align-items-center justify-content-center">
                                <img src="https://www.geniale-tipps.de/images/t/whatsapp-profilbild-grau.jpg" width="300" height="200" alt=""/>
                            </div>
                            <div class="row row-cols-1">
                                <button class="btn btn-secondary">tes2t</button>
                                <button class="btn btn-secondary">tes2t</button>
                                <button class="btn btn-secondary">te2st</button>
                                <button class="btn btn-secondary">te2st</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        Console.WriteLine("Couldn't find employee");
    }
}

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}



@code {

    [Parameter]
    public int EmpId { get; set; }

    public int PropId { get; set; }
    private Employee TempEmp;
    public bool ShowEdit { get; set; }
    public bool ShowBackdrop { get; private set; }

    public void Show(int employeeId, int proposalId)
    {
        ShowEdit = !ShowEdit;
        ShowBackdrop = !ShowBackdrop;
        EmpId = employeeId;
        PropId = proposalId;
        if (_proposal.GetProposal(PropId) != null)
        {
            TempEmp = _proposal.GetProposal(PropId).Employees.Find(e => e.EmployeeId == EmpId);
        }
        StateHasChanged();
    }

    private void Close()
    {
        ShowEdit = !ShowEdit;
        ShowBackdrop = !ShowBackdrop;
        StateHasChanged();
    }

}