@page "/"
@using Team12.Data
@using System.IO
@using Newtonsoft.Json

<h1>Mitarbeitendenübersicht, Team 12</h1>

<p>In der Zwischenzeit die <a href="fetchdata">Wettervorhersage</a> anschauen.:</p>
<p>Für das ausprobieren diverser <a href="/test">Seiten</a></p>
<p>
    <b>Hier sind alle am Projekt beteiligten Mitarbeiter zu sehen:</b>
</p>

<div class="card-deck">
    
    @foreach (var employee in _employee)
    {
        <EmployeeShortcard Worker="@employee"></EmployeeShortcard>
    }
</div>


@code {

    private List<Employee> _employee { get; set; } = new List<Employee>();

    protected override void OnInitialized()
    {
        _employee.Add(new Employee() {FirstName = "Anton", LastName = "Huber", PrevProjects = new List<string>() {"C# lernen", "Machine Learning", "OpenXML"},DayOfBirth = new DateTime(1998, 05, 28)});
        _employee.Add(new Employee() {FirstName  = "Tobias", LastName= "Mayr", PrevProjects = new List<string>() {"F# Lernen", ".Net üben"} ,DayOfBirth = DateTime.Parse("11.12.1999")});
        _employee.Add(new Employee() {FirstName = "Victoria", LastName = "Kuch", PrevProjects = new List<string>() {"Softwareprojekt", "Roboter bauen"} ,DayOfBirth = DateTime.Parse("16.03.2000")});
        _employee.Add((new Employee() {FirstName = "Alexander", LastName = "Kaistra", PrevProjects = new List<string>() {"Framework bauen", "uchmaske implementieren"}, DayOfBirth = DateTime.Parse("19.11.1998")}));
        _employee.Add(new Employee() {FirstName  = "Ismail", LastName = "Gürsöz", PrevProjects = new List<string>() {"Compiler schreiben", "Bootstrap lernen"},DayOfBirth = DateTime.Parse("09.11.1997")});

        
    }


}
